.messagesList .messageListDate{
    display: flex;
    --margin-hr:8px;
}

.messageListDate .messageHR{
    width: 100%;
}

.messageListDate .messageDateBig{
    flex-shrink: 0;
}

.messageListDate hr{
    border:1px solid black;
    background: #282c34;
    margin-top: 10px;
}

.messageListDate .messageHR:first-child hr{
    margin-right: var(--margin-hr);
}

.messageListDate .messageHR:last-child hr{
    margin-left: var(--margin-hr);
}
